body {
  background-color: #f5f5f5;
}
.pageHeaderContainer {
  height: 100px;
  padding: 0 !important;
  background-color: #00a3e0;
  color: #ffffff;
  border: none !important;
  margin: 0 !important;
  justify-content: center;
}
.pageHeader {
  background-color: transparent !important;
  border: none;
  line-height: 90px;
}

.main-container {
  border: none;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Vollkorn", serif !important;
  font-size: 20px;
  /* background-image: url("../..//assets/images/bank.jpg");
  background-size: cover;
  background: rgba(0.3); */
}
.info-container {
  padding: 0 7%;
  position: relative;
}
.user-info-container {
  min-width: 50%;
  align-items: center;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  background-color: #ffffff;
  min-height: 75%;
  position: relative;
}
.user-post-container {
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  background-color: #ffffff;
  max-height: 30%;
  margin-bottom: 20px;
  padding: 20px;
}
.user-content-container {
  justify-content: flex-start;
  margin-top: 50px;
  flex-wrap: wrap;
}
.user-information {
  margin: 60px 0;
}
a {
  text-decoration: none;
}
h3 {
  border-bottom: 2px dotted dodgerblue;
}
.buttonHolder {
  width: 100%;
  height: 40px;
}
.postButton {
  width: 120px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #ffffff;
}
.postButton:hover {
  font-weight: bold;
  color: #ffffff;
}
.backButton {
  width: 120px;
  position: absolute;
  left: 15px;
  bottom: 10px;
  color: #ffffff;
}
.backButton:hover {
  color: #ffffff;
  font-weight: bold;
}
.userButton {
  margin: 20px 15px;
}
.backToDetails {
  width: 120px;
  position: absolute;
  left: 5px;
  top: 10px;
  color: #ffffff;
}
.backToDetails:hover {
  color: #ffffff;
  font-weight: bold;
}
.postTitle {
  font-weight: bold;
  color: darkcyan;
  border-bottom: 2px solid;
  width: max-content;
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .postTitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .postTitle {
    font-size: 11px;
  }
  .user-post-container span {
    font-size: 12px;
  }
}
